
:root {
    --golden: #f7ba00;
    --dark-gray: #2E323F;
    --medium-gray: #3B4050;
    --lighter-medium-gray: #6F737F;
    --light-gray: #f1f1f1;
    --white: #fff;

    --background-green: rgb(21 92 30);
};

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-green);
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.header {
    display: flex;
    justify-content: center;
}
.header span {
    background-color: var(--light-gray);
}

.play {
    color: var(--white);
}
.play button {
    color: var(--dark-gray);
}

.hero__button {
    background-color: var(--golden);
    border: none;
    color: var(--white);
    padding: .75em 1.5em;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 100px;
    text-transform: uppercase;
    max-width: 230px;
}

.p {
    color: var(--dark-gray);
    font-size: 1.1rem;
    background: var(--light-gray);
}
